@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
  --green: #006d77;
  --gray-300: #d0d5dd;
  --gray-600: #475467;
  --light-green: #bee1e6;
}
.body {
  color: #101828;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}
/* commmon classes */
.font-18 {
  font-size: 18px;
}
.py-85 {
  padding-top: 8rem;
  padding-bottom: 5rem;
}
.rounded-lg {
  border-radius: 16px !important;
}
.btn {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.45px;
}
.btn.btn-pink {
  background-color: #e29578;
  color: #ffffff;
  border-radius: 4px;
}
.bg-green {
  background-color: var(--green);
}
.color-gray-300 {
  color: var(--gray-300);
}
.color-gray-400 {
  color: #98a2b3 !important;
}
.color-gray-500 {
  color: #667085;
}
.color-gray-600 {
  color: var(--gray-600);
}
.color-gray-900 {
  color: #101828 !important;
}
.text-green {
  color: var(--green);
}
.color-orange {
  background-color: #fff3ea;
  color: #e29578;
}
.bg-orange {
  background-color: #e29578 !important;
}
.bg-blue {
  background-color: #d1ecfd !important;
  color: #101828 !important;
}
.bg-light-green {
  background-color: var(--light-green);
}
.bg-box-gray {
  background-color: #cbd1e5;
}
.btn-black {
  background-color: #000000;
}
.text-display-2 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -0.5%;
}
.text-heading-1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1%;
  color: #101828;
}
.text-heading-2 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 44px;
  letter-spacing: 0%;
}
.text-heading-3 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 38px;
  letter-spacing: 0%;
}
.text-heading-4 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
}
.text-heading-5 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0%;
}
.text-heading-6 {
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}
.text-body-excerpt {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.text-body-lead-large {
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
}
.text-body-normal {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
}
.text-body-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 28px;
}
.text-body-small {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.text-body-capitalized {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 2px;
}
.tag-1 {
  background-color: #fff3ea;
  border-radius: 50px;
  padding: 14px 28px;
  color: #e29578;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
}

/* common class */
.header .navbar-collapse form button:hover,
.service .banner-text button:hover,
.testimonials .learn-more:hover {
  background-color: #000000 !important;
  color: #ffffff;
}
.header .navbar-collapse .nav-item .nav-link:hover {
  color: var(--light-green);
}
header .navbar-collapse form .hover-up:hover,
.testimonials .testimonial-box .hover-up:hover,
.discover .temp-box-1:hover,
.discover .temp-box-2:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}
.discover .temp-box-1,
.discover .temp-box-2 {
  position: relative;
  padding: 50px;
}
.discover .temp-box-1::before,
.discover .temp-box-2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 75%;
  width: 100%;
  border-radius: 16px;
  z-index: -1;
}
.discover .temp-box-1::before {
  background-color: #fff3ea;
}
.discover .temp-box-2::before {
  background-color: #bee1e6;
}
.plans .box .start-plan-btn {
  position: absolute;
  bottom: 20px;
}
.plans .details:hover {
  background-color: var(--green) !important;
  color: #ffffff;
  transform: translateY(-5px);
  transition: 0.2s;
}
.plans .details:hover button {
  border: 1px solid #ffffff;
  background-color: var(--green);
  color: #ffffff;
}
.plans .details:hover .list-package-feature li i {
  background-color: #e29578;
  color: var(--green) !important;
}
.plans .details:hover .box-info-price span,
.plans .details:hover .subscription p {
  color: #ffffff !important;
}
.plans .details .list-package-feature {
  /* display: inline-block; */
  width: 100%;
  padding-bottom: 40px;
  min-height: 100px;
}
.news-cards,
.pink-newscard {
  position: relative;
  z-index: 2;
}
.news-cards::before,
.pink-newscard::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -15px;
  width: 100%;
  height: 100%;
  top: 28px;
  background-color: #d1ecfd;
  border-radius: 1.5rem !important;
}
.news-cards:hover::before,
.pink-newscard:hover:before {
  right: -10px;
  top: 24px;
}
.latest-news .pink-newscard::before {
  background-color: pink !important;
}
.latest-news .blog-btn:hover {
  background-color: #dee2e8;
  color: #000000 !important;
}
.newsletter .form-group {
  position: relative;
}
.newsletter .form-group .bi {
  position: absolute;
  top: 20px;
  right: 15px;
}
.newsletter .newsletter-img {
  position: absolute;
  top: 0px;
}
.footer-section .footer-list li a {
  color: #667085;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 34px;
  text-decoration: none;
  transition-duration: 0.2s;
}
.footer-section .footer-top button:hover {
  background-color: #ffffff;
  border: 1px solid black;
  color: #000000 !important;
}
.footer-section .footer-list li a:hover {
  color: #006d77;
  transition-duration: 0.2s;
  padding-left: 3px;
}
.scroll {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: ease-in-out 0.5s;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 992px) {
  .text-display-2 {
    font-size: 64px;
    line-height: 70px;
  }
  .text-heading-1 {
    font-size: 46px;
    line-height: 52px;
  }
  .newsletter .newsletter-img {
    position: relative;
  }
}
@media (max-width: 767.98px) {
  .text-display-2 {
    font-size: 50px;
    line-height: 58px;
  }
  .text-heading-1 {
    font-size: 46px;
    line-height: 52px;
  }
}
@media (max-width: 575.98px) {
  .text-display-2 {
    font-size: 40px;
    line-height: 48px;
  }
  .text-heading-4 {
    font-size: 20px;
    line-height: 26px;
  }
  .text-heading-2 {
    font-size: 28px;
    line-height: 32px;
  }
  .text-heading-1 {
    font-size: 35px;
    line-height: 44px;
  }
  .text-body-lead-large {
    font-size: 20px;
    line-height: 28px;
  }
}
